@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root{
    --fonte1: 'Noto Serif', serif;
    --fonte2: 'Orelega One', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-size: 5em;
    font-family: var(--fonte1);
    font-style:italic;
    padding-bottom: 8px;
    padding-top: 50px;
    font-variant: small-caps;
    /*"text-transform: uppercase; - para deixar textos em maiusculo*/
}
header > p{
    padding-bottom: 42px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    font-family: var(--fonte1);
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(71, 69, 69);
    color: white;
    box-shadow: inset 3px 3px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.356);
    text-shadow: 1px 1px 0px black;
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;

}
#img02{
    background-image: url(imagens/background002.jpg);

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}